<div layout="row">
  <h1 class="mat-typography">Angular POC</h1>
  <mat-card>
    <mat-card-content #firstText (mouseup)="selectionText($event)" [innerHtml]="textBox">Simple card</mat-card-content>
    <h2>Comments</h2>
  </mat-card>
  <!-- <br />
  <br />
  <div #secondText (mouseup)="selectionText($event)" [innerHtml]="textBox">
  </div>

  <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over"
        (click)="test()">
  Action
  </button>

  <div class="tooltip">Hover over me
    <span class="tooltiptext">Tooltip text</span>
  </div> -->
  <button mat-raised-button color="primary" (click)="clearComments()">Clear Comments</button>
</div>
<router-outlet></router-outlet>
